
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}





#puppy-image{
  width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 6px solid black;
  
}

#puppy-image2{
  width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 6px solid white;
    display: flex;
    
}

#pup-card{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  
}
#the-Rows{
  display: flex;
  flex-direction: column;
  border: 7px solid black;
  background-image: url(pbrc.jpg);
  background-size: cover;
}

#search-bar-form{
  display: flex;
  justify-content:left;
   

}

#Delete-form{
  display:flex;
  justify-content: center;
   
}

#pup-submit-form{
 display: flex;
 justify-content: center;
 flex-direction: row;
 flex-wrap: wrap;
 color:black;
 
}


#selected-pup{
  display: flex;
  justify-content: center;
  
  
 
}

#pb-title{
  font-size: 200%;
  display: flex;
  
}

#contain-row{
  display: flex;
  
  justify-content: center;
  padding:5%;
  
}

body{
  background-image: url(pbr.jpg);
  background-size:cover;
  
  color:black;
  margin:0;
  padding:0;
}